h1{
    color: black;
    font-size: 24px;
    font-family: "Helvetica";
}
h2{
    color: black;
    font-size: 20px;
    font-family: "Helvetica"; 
}
li{
    color: lightgray;
}
figure figcaption{
    text-align: center;
}