h1{
    color: black;
    font-size: 24px;
    font-family: "Helvetica";
}
h2{
    color: black;
    font-size: 20px;
    font-family: "Helvetica"; 
}
li{
    color: lightgray;
}
figure, table{ /*table and figured centered*/
    text-align: center;
}
/*tables*/
table{
    width: 400px;
}
th{
    background-color: #ddd;
    font-size: 16px;
    font-family: "Arial";
}
th caption{
    text-align: center;
}
td{
    text-align: center;
}
table, th, td{
    border: 1px solid #000;
    border-collapse: collapse;
}